header {
    grid-area: header;
    text-align: center;
    background-color: red;
    color: white;
  }
  
  nav {
    margin-top: 0px;
    grid-area: nav;
    background-color: #ffe9e0;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  
  nav li {
    display: inline;
  }
  
  nav #top_hr {
    margin-top: 0px;
  }
  
  nav #bottom_hr {
    margin-top: 2px;
  }
  
  #left_card {
    grid-area: left_card;
    margin-left: 30px;
  }

  #right_card {
    grid-area: right_card;
    margin-right: 30px;
  }

  #mid_card {
    grid-area: mid_card;
  }

  .project_card {
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #dbdbdb;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
  }
  
  .project_card p {
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    line-height: 40px;
    text-align: left;
  }

  .project_card ul {
    font-size: larger;
    list-style: none;
    line-height: 40px;
  }
  
  .project_card h2 {
    /* margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px; */
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }

  .project_card h3 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
  }
  
  .project_card img {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0px 0px;
  }

  #mid_card img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
    position: relative;
    top: 15px;
  }

  #mid_card h3 {
    display: inline;
    margin-left: 15px;
  }

  #mid_card h4 {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
  }

  #mid_card h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    color: rgb(82, 82, 82);
  }

  #work_xp {
    list-style: circle;
    font-size:medium;
    margin-top: 0px;
    line-height: 35px;
    margin-right: 30px;
  }

  #right_card h3 {
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0px;
  }

  #right_card ul {
    margin-top: 15px;
    list-style: circle;
    margin-left: 15px;
  }

  main {
    grid-area: main;
    margin-left: 30px;
    display: grid;
    grid-template-areas:
      "left_card mid_card right_card";
    margin: auto;
    gap: 30px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }

  @media (max-width: 800px) {
    main {
      grid-area: main;
      margin-left: 30px;
      display: grid;
      grid-template-areas:
        "left_card"
        "mid_card"
        "right_card";
      margin: auto;
      gap: 30px;
      grid-auto-columns: minmax(0, 1fr);
      grid-auto-flow: column;
    }

    .project_card {
      background-color: #ffffff;
      box-shadow: 1px 1px 5px #dbdbdb;
      border: 1px solid #dbdbdb;
      border-radius: 4px;
      margin-right: 30px;
    }
  }
  
  h2 {
    text-align: center;
  }
  
  footer {
    grid-area: footer;
    background-color: red;
    color: white;
    padding: 16px 20px;
    text-align: center;
  }
  
  footer p {
    display: inline;
  }
  
  footer img {
    height: 24px;
    display: inline;
    float: right;
  }
  
  header img {
    height: 24px;
    /* display: block; */
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "top_banner"
      "main"
      "footer";
    margin: auto;
    gap: 30px;
    font-family: "Arial", sans-serif;
  }
  
  .top_banner {
    grid-area: top_banner;
    gap: 0px;
    display: grid;
    grid-template-areas:
      "header header header header header"
      "nav nav nav nav nav";
  }
  
  nav a:link,
  nav a:visited {
    background-color: #ffe9e0;
    color: black;
    padding: 16px 20px;
    text-decoration: none;
  }
  
  nav a:active,
  nav a:hover,
  nav a:focus {
    background-color: red;
    color: white;
  }
  
  h1 {
    font-family: "Andale Mono", monospace;
    font-weight: 25;
    font-size: 3.5em;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  
  h2 {
    font-weight: 100;
  }
  